<h2>Update Collection</h2>
<%= form_for(@collection) do |f| %>
  <div class="form-group row">
    <%= f.label :name, class: 'col-2 col-form-label' %>
    <div class='col-10'>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, class: 'col-2 col-form-label' %>
    <div class='col-10'>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <%= f.submit('Update collection', class: 'btn btn-primary') %>
<% end %>
