<p id="notice"><%= notice %></p>

<h1 class="collection-name">
  <%= @collection.name %>
</h1>
<div class="collection-description">
  <%= @collection.description %>
</div>
<hr>
<div class="collection-images">
  <h2>Images</h2>
  <div class="row">
    <% if @collection.images.length == 0 %>
      <div class="col">There are currently no images associated with this collection.</div>
    <% else %>
      <% @collection.images.each do |image| %>
      <div class="collection-image col">
        <%= image_tag image.thumbnail_image_path %><br />
        <div class="image-name">
            <%= image.file_name_no_extension %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
