<h1><%= t 'image_templates.edit.title' %></h1>

<h2>
  <%= t 'image_templates.edit.help' %>
</h2>
<div>
  <%= image_tag @image_template.image_url %>
  <hr>
</div>

<% @image_template.match_options['threshold'] ||= 80 %>
<% @image_template.match_options['elasticity'] ||= 0 %>
<% @image_template.match_options['rotation'] ||= 0 %>
<% @image_template.match_options['flip'] ||= 'horizontal' %>

<%= form_for @image_template, method: :put, url: collection_template_image_template_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>
  <% # Add in a hidden field just so that the controller stays happy %>
  <%= f.hidden_field :id, value: @image_template.id %>
  <%= react_component('ToggleForm', {
    value: @image_template.match_options['threshold'].to_i, max: 100, object: f.object_name, attribute: 'match_options', type: 'threshold', formType: 'Range', helpText: t('image_templates.threshold.help')
  }) %>
  <%= react_component('ToggleForm', {
    value: @image_template.match_options['elasticity'].to_i, max: 100, object: f.object_name, attribute: 'match_options', type: 'elasticity', formType: 'Range', helpText: t('image_templates.elasticity.help')
  }) %>
  <%= react_component('ToggleForm', {
    value: @image_template.match_options['rotation'].to_i, max: 100, object: f.object_name, attribute: 'match_options', type: 'rotation', formType: 'Range', helpText: t('image_templates.rotation.help')
  }) %>
  <%= react_component('ToggleForm', {
    object: f.object_name, attribute: 'match_options', type: 'flip',
    formType: 'Select', options: ['Horizontal', 'Vertical', 'Both'], selected: @image_template.match_options['flip'], helpText: t('image_templates.flip.help')
  }) %>
  <%= f.submit t('navigation.next_step'), class: 'btn btn-primary' %>
<% end %>

<hr>
<%= link_to t('crud.destroy'), collection_template_image_template_path, {method: :delete, remote: true, data: { confirm: t('crud.confirm') }, class: 'btn btn-danger'} %>
