<h1><%= t 'image_templates.edit.title' %></h1>

<div>
  <%= image_tag @image_template.image_url %>
  <hr>
</div>

<%= form_for @image_template, method: :put, url: collection_template_image_template_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>
  <% # Add in a hidden field just so that the controller stays happy %>
  <%= f.hidden_field :id, value: @image_template.id %>
  <%= react_component('ToggleSlider', {
    value: 80, max: 100, object: f.object_name, attribute: 'match_options', type: 'threshold'
  }) %>
  <%= react_component('ToggleSlider', {
    value: 0, max: 100, object: f.object_name, attribute: 'match_options', type: 'elasticity'
  }) %>
  <%= react_component('ToggleSlider', {
    value: 0, max: 100, object: f.object_name, attribute: 'match_options', type: 'rotation'
  }) %>
  <%= f.submit t('navigation.next_step'), class: 'btn btn-primary' %>
<% end %>

<hr>
<%= link_to t('crud.destroy'), collection_template_image_template_path, {method: :delete, remote: true, data: { confirm: t('crud.confirm') }, class: 'btn btn-primary'} %>
