<p id="notice"><%= notice %></p>

<%= link_to t('collection_template.process_images'),
      process_images_collection_template_path(@collection_template),
      method: :post,
      class: 'btn btn-warning',
      data: {
        confirm: t('collection_template.process_confirm')
      }
%>

<%= link_to t('collection_template.download_graph'),
      download_path(@collection_template),
      class: 'btn btn-primary'
%>

<h2> Track Processing Progress </h2>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Job ID</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Elapsed</th>
      <th>Job Type</th>
      <th>Arguments</th>
      <th>Times executed</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @collection_template.process_trackers.each do |process_tracker| %>
      <tr>
        <td>
          <%= process_tracker.job_id %>
        </td>
        <td>
          <%= process_tracker.created_at %>
        </td>
        <td>
          <%= process_tracker.updated_at %>
        </td>
        <td>
          <%= distance_of_time_in_words(process_tracker.updated_at, process_tracker.created_at) %>
        </td>
        <td>
          <%= process_tracker.job_type %>
        </td>
        <td>
          <%= process_tracker.arguments %>
        </td>
        <td>
          <%= process_tracker.executions %>
        </td>
        <td>
          <%= process_tracker.status %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('navigation.back'), collection_templates_path %>
